/**/target
**.tgz
.vscode
event-logs
faucet/kv
keyfile.json
config.json
.deploy/monitoring/data
.deploy/monitoring/prometheus
.deploy/monitoring/alertmanager
args.txt
vault-*-metadata
kv
*.wif
.idea/*