[package]
name = "runtime"
version = "1.0.0"
authors = ["Interlay <contact@interlay.io>"]
edition = "2018"

[features]
default = []
testing-utils = [
    "substrate-subxt/client",
    "substrate-subxt-client",
    "tempdir",
    "interbtc",
    "bitcoin",
    "rand",
]

[dependencies]
serde = { version = "1.0.119", features = ["derive"] }
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false, features = ["derive", "full"] }
async-trait = "0.1.40"
thiserror = "1.0"
serde_json = "1.0.57"
tokio = { version = "1.0", features = ["full"] }
backoff = { version = "0.3.0", features = ["tokio"] }
futures = "0.3.5"
clap = "3.0.0-beta.2"
log = "0.4.0"
url = "2"

# Substrate dependencies
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.8" }
sp-arithmetic = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.8" }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.8" }
sp-keyring = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.8" }
frame-support = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.8" }

# Subxt dependencies
substrate-subxt-proc-macro = { git = "https://github.com/interlay/substrate-subxt", rev = "f1d4be57a17b23aa86c4b407371bc6b7fc32cc00" }
substrate-subxt = { git = "https://github.com/interlay/substrate-subxt", rev = "f1d4be57a17b23aa86c4b407371bc6b7fc32cc00" }

jsonrpsee-types = "0.3.0"
jsonrpsee-ws-client = "0.3.0"

# Polkadot dependencies
xcm = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.7" }
polkadot-parachain = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.7" }

# Dependencies for the testing utils for integration tests
substrate-subxt-client = { git = "https://github.com/interlay/substrate-subxt", rev = "f1d4be57a17b23aa86c4b407371bc6b7fc32cc00", optional = true }
tempdir = {version = "0.3.7", optional = true }
interbtc = { package = "interbtc-standalone", git = "https://github.com/interlay/interbtc", rev = "9051d0d2f0c4584c1c9c70f21edcab1881655cb4", optional = true }
bitcoin = { path = "../bitcoin", optional = true }
rand = { version = "0.7", optional = true }

[dependencies.primitives]
git = "https://github.com/interlay/interbtc"
rev = "9051d0d2f0c4584c1c9c70f21edcab1881655cb4"
package = "interbtc-primitives"

[dependencies.module-bitcoin]
git = "https://github.com/interlay/interbtc"
rev = "9051d0d2f0c4584c1c9c70f21edcab1881655cb4"
package = "bitcoin"

[dependencies.module-btc-relay]
git = "https://github.com/interlay/interbtc"
rev = "9051d0d2f0c4584c1c9c70f21edcab1881655cb4"
package = "btc-relay"

[dependencies.module-security]
git = "https://github.com/interlay/interbtc"
rev = "9051d0d2f0c4584c1c9c70f21edcab1881655cb4"
package = "security"

[dependencies.module-vault-registry]
git = "https://github.com/interlay/interbtc"
rev = "9051d0d2f0c4584c1c9c70f21edcab1881655cb4"
package = "vault-registry"

[dependencies.module-oracle-rpc-runtime-api]
git = "https://github.com/interlay/interbtc"
rev = "9051d0d2f0c4584c1c9c70f21edcab1881655cb4"
package = "module-oracle-rpc-runtime-api"

[dev-dependencies]
substrate-subxt-client = { git = "https://github.com/interlay/substrate-subxt", rev = "f1d4be57a17b23aa86c4b407371bc6b7fc32cc00" }
interbtc = { package = "interbtc-standalone", git = "https://github.com/interlay/interbtc", rev = "9051d0d2f0c4584c1c9c70f21edcab1881655cb4" }
tempdir = "0.3.7"
env_logger = "0.8.3"