[package]
name = "vault"
version = "0.6.0"
authors = ["Interlay <contact@interlay.io>"]
edition = "2018"

[features]
integration = []

[dependencies]
log = "0.4.0"
env_logger = "0.7.1"
thiserror = "1.0"
clap = "3.0.0-beta.2"
tokio = { version = "0.2.22", features = ["full"] }
backoff = { version = "0.2.1", features = ["tokio"] }
serde = "1.0.116"
serde_json = { version = "1.0.57", features = ["raw_value"] }
parity-scale-codec = "2.0.0"
hex = "0.4.2"
futures = "0.3.5"
async-trait = "0.1.40"
sha2 = "0.8.2"

jsonrpc-core = "17.0.0"
jsonrpc-core-client = { version = "17.0.0", features = ["http", "tls"] }

# Workspace dependencies
bitcoin = { path = "../bitcoin", features = ["cli"] }
runtime = { path = "../runtime" }

# Substrate dependencies
sp-core = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sp-keyring = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sp-arithmetic = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }

[dev-dependencies]
mockall = "0.8.1"

# Workspace dependencies
runtime = { path = "../runtime", features = ["testing-utils"] }