[package]
name = "bitcoin"
version = "1.1.0"
authors = ["Interlay <contact@interlay.io>"]
edition = "2018"

[features]
default = ["interbtc"]
regtest-mine-on-tx = []
regtest-manual-mining = []
cli = ["clap"]
interbtc = ["interbtc-bitcoin"]
uses-bitcoind = []

[dependencies]
thiserror = "1.0"
bitcoincore-rpc = { git = "https://github.com/gregdhill/rust-bitcoincore-rpc", rev = "80ff27b" }
hex = "0.4.2"
async-trait = "0.1.40"
tokio = { version = "1.0", features = ["full"] }
backoff = { version = "0.3.0", features = ["tokio"] }
clap = { version = "3.0.0-beta.2", optional = true }
num = "0.2"
num-traits = "0.2"
num-derive = "0.3"
futures = "0.3.5"
serde_json = "1"
log = "0.4.0"
hyper = "0.10"
esplora-btc-api = "1.0.3"

# Substrate dependencies
sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.10" }

[dependencies.interbtc-bitcoin]
git = "https://github.com/interlay/interbtc"
rev = "61fa80433215d92702b83d429a47184da227aba6"
package = "bitcoin"
optional = true

[dev-dependencies]
mockall = "0.8.1"
regex = "1.4.3"